@font-face {
    font-family: "Lato";
    src: url("../fonts/latoRegular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Lato";
    src: url("../fonts/latoMedium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Lato";
    src: url("../fonts/latoSemibold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Georgia";
    src: url("../fonts/georgiaBold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Georgia";
    src: url("../fonts/georgia.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

p, ul, h1 {
    margin-block-end: 0;
    margin-block-start: 0;
}

body {
    font: 400 1.25rem/1.5rem 'Lato', sans-serif;
    min-height: 100vh;
    box-sizing: border-box;
}


.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}


.header {
    width: 100%;
    /*height: 85px;*/
}

.header__container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.header__logo {

}

.header__logo-img {
    /*width: 5.18vw;*/
    margin-right: 172.45px;
}

.header__menu {
    color: #292929;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
}

.menu__list {
    /*margin-block-end: 0;*/
    /*margin-block-start: 0;*/
    margin-left: -3.6em;
    padding: 30px 0 31px;
}

.menu__item:nth-child(n) {
    margin-left: 3.6em;
}

.menu__item {
    display: inline-block;

}

.header__auth {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.auth {
    width: 277px;
    height: 51px;
}

.auth__sign-in {
    text-decoration: none;
    color: #000000;
}

.auth__btn {
    width: 183px;
    height: 51px;
}

.btn {
    background-color: #01996D;
    color: #fff;
    border: 1px solid #01996D;
    border-radius: 0.25rem;
    text-align: center;
}

[class*="__container"] {
    /*width: 1370px;*/
    /*width: 89.128vw;*/
    width: calc(100% * 1370 / 1920);
    margin: 0 auto;
}

.main {
    flex: 1 1 auto;
}

.main__suggestion {

}

.suggestion {
    width: 100%;
    height: 895px;
    background: url('../images/raduFlorin.jpg') no-repeat center / cover,
    linear-gradient(112.58deg, #FFFFFF 18.15%, rgba(255, 255, 255, 0) 53.07%), rgba(0, 0, 0, 0.1);
    background-position-y: -103px;
}

.suggestion__container {
}

.suggestion-item {
    position: relative;
    top: 175px;
    left: 0;
    width: 440px;
    height: 384px;
    display: flex;
    flex-direction: column;
}

.suggestion-title {
    /*margin-block-end: 0;*/
    /*margin-block-start: 0;*/
    font-family: Georgia, serif;
    font-size: 3.25em;
    line-height: 1.138em;
    color: #01996D;
    font-weight: 700;
}

.suggestion-text {

    line-height: 1.445em;
    margin: 30px 0 18px;
    min-height: 32.03%;
}

.suggestion-btn {
    width: 224px;
    height: 65px;
}

.steps {
}

.steps__container {
    margin-top: 169px;
}

.steps__sub-title {
    font-size: 1.2em;
    line-height: 1.58em;
    color: #424242;
    width: 100%;
}

.steps__concept {
    height: 327px;
}

.concept {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.concept__title {
    /*margin-block-end: 0;*/
    /*margin-block-start: 0;*/
    width: 649px;
    font-family: Georgia, serif;
    font-weight: 700;
    font-size: 2.5em;
    line-height: 1.58em;
    color: #01996D;
}

.concept__text {
    /*margin-block-end: 0;*/
    /*margin-block-start: 0;*/
    width: 649px;
    font-weight: 500;
    line-height: 1.5;
    color: #424242;
    padding-top: 20px;
}

.steps__items {
    height: 1065px;
    display: flex;
    justify-content: space-between;
}

.steps__card {
}

.card {
    width: 392px;
}

.card:nth-child(2) {
    align-self: flex-end;
}

.card:nth-child(3) {
    margin-top: 60px;
}

.card__number {
    font-family: Georgia, serif;
    font-weight: 400;
    font-size: 7.5em;
    /*line-height:4.5em ;*/
    color: rgba(1, 153, 109, 0.2);
    position: absolute;
    z-index: 0;
}

.card__title {
    margin-block-end: 0;
    font-family: Georgia, serif;
    font-weight: 700;
    font-size: 1.5em;
    line-height: 1.5;
    color: #000;
    text-align: center;
    position: relative;
    z-index: 2;

}

.card__text {
    line-height: 1.5;
    font-weight: 500;
    color: #424242;
    margin-top: 55px;
    margin-bottom: 48px;
}

.card__img {
    width: 390px;
    height: 492px;
    border-radius: 0.6em;
}

.story {
    background-color: #245852;
    width: 100%;
    height: 922px;
}

.story__wrapper {
    margin: 0 auto;
    padding: 229px 207px 176.89px 207px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.story__description {
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
    margin-right: 61px;
}

.story__title {
    /*margin-block-end: 0;*/
    /*margin-block-start: 0;*/
    width: 580px;
    font-family: Georgia, serif;
    font-weight: 700;
    font-size: 2.5em;
    line-height: 1.58em;
    color: #FFFFFF;
}

.story__text {
    /*margin-block-end: 0;*/
    /*margin-block-start: 0;*/
    font-weight: 600;
    font-size: 1.25em;
    line-height: 1.56;
    margin: 33px 0 57px;
}

.story__btn {
    width: 240px;
    height: 65px;
}

.story__video {
    width: 896px;
    height: 516px;
    border-radius: 12px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("../images/videoBackground.jpg") no-repeat center/cover;
}

.video-icon {
}

.product {
    height: 648px;
    margin-top: 120px;
}

.product__container {


    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.product__card {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 296.14px;
    height: 293.9px;
    filter: drop-shadow(0px 3.62249px 18.1125px rgba(165, 165, 165, 0.25));;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
}

.customized-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 29px 55px 29px 65px;
    color: #000000;
    background-color: #FFFFFF;

}

.customized-card__title {
    font-weight: 600;
    font-size: 0.72em;
    line-height: 1.59;
    text-align: center;
}

.customized-card__title:after {
    content: '';
    display: block;
    width: 110.49px;
    margin-top: 7.67px;
    border: 0.75px solid #000000;
}

.customized-card__image {
    width: 57.44px;
    height: 57.44px;
    background: url("../images/productPhoto.png") no-repeat center/cover;
    border-radius: 50%;
    border: 2px solid #000000;
    margin: 13.7px 0 10.44px 0;
}

.customized-card__client-name {
    font-size: 0.597em;
    line-height: 1.57;
    text-align: center;

}

.customized-content {
    display: flex;
    flex-direction: column;

}

.customized-card__content-title {
    margin-top: 20.24px;
    font-family: Georgia, serif;
    font-weight: 700;
    font-size: 0.796em;
    line-height: 1.57;
}

.customized-card__customs {
    padding-left: 15px;
    font-size: 0.53em;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.customs-item {
    margin-top: 15.93px;
}

.product__image {
    width: 638.69px;
    height: 573.26px;
    background: url("../images/productPhoto.png") no-repeat center/cover;
    border-radius: 18.11px;
    font-size: 2.5em;
    line-height: 1.58em;
    color: #01996D;
    border: 2px solid black;
    margin: 0 86.63px 0 60px;
}

.product__description {
    line-height: 1.57;
    color: #484848;
}

.product__content {

}

.product-content {
    width: 584px;
    --content-item-margin-top: 10px
}

/*[class^="product-content__"]:nth-child(2n+1){*/
/*    margin-top: calc( var(--content-item-margin-top) *2 );*/
/*}*/
.product-content__sub-title {
    font-weight: 600;
    font-size: 1.25em;
    line-height: 1.56;
    color: #424242;
}

.product-content__title {
    margin-top: var(--content-item-margin-top);
    font-family: Georgia, serif;
    font-weight: 700;
    font-size: 2.5em;
    line-height: 1.58em;
    color: #01996D;

}

.product-content__text {
    margin-top: calc(var(--content-item-margin-top) * 2);
    line-height: 1.55;
    color: #484848;
}

.product-content__btn {
    margin-top: calc(var(--content-item-margin-top) * 4);
    width: 227px;
    height: 65px;
}


.footer {
    padding: 42.2px 62px;
    margin-top: 168px;
    background-color: #245852;
    width: 100%;
    min-height: 654px;

}

.footer-menu {
    min-height: 100%;
    color: #FFFFFF;

}

.footer-menu__logo {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 2em;
    line-height: 1.366;
}

.footer-wrapper {

    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(654px, auto);
}

.footer-menu__navigation {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-menu__list {
    list-style: none;
    font-size: 1.25em;
    line-height: 1.2;
    font-weight: 600;


}

.footer-menu__item {
    margin: 60px 0;
}


.footer__social-networking {


}

.social-networking {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: flex-start;
    align-items: flex-start;
}

.social-networking__item {
    display: block;
    width: 82.77px;
    height: 76.42px;
    background: #FFFFFF;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}

.social-networking__item:nth-child(1n+1) {
    margin-left: 50.47px;
}

.facebook-link {
    background: #FFFFFF url("../images/icons/facebook.png") no-repeat center;
}

.instagram-link {
    width: 90.84px;
    height: 83.88px;
    background: url("../images/icons/instagram.png") no-repeat center,
    conic-gradient(from 180deg at 50% 50%, #80A4CE 0deg, #F289AA 60deg, #C68BF0 106.09deg, #D164DA 153.75deg, #C963E8 221.25deg, #BFC2E8 258.75deg, #FFC999 288.75deg, #D0D8C9 315deg, #BAD0F1 334.13deg, #CED8CB 358.97deg, rgba(255, 255, 255, 0) 360deg);
}

.twitter-link {
    background: #FFFFFF url("../images/icons/twitter.png") no-repeat center;
}

.footer__discover {
}

.discover {
    display: flex;
    flex-wrap: wrap;
    margin-top: auto;
    color: #ffffff;
}

.discover__title {
    width: 100%;
    padding-left: 132px;
    line-height: 1.245;
}

.discover__link-container {
    margin-top: 58px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.discover__link {
    display: block;
    height: 65.24px;
    border-radius: 12px;
}

.discover__link:nth-child(n+2) {
    margin-left: 14.13px;
}

.google-play-link {
    width: 216px;
    background: #FFFFFF url("../images/icons/googlePlay.png") no-repeat center;
}

.play-store-link {
    width: 201.87px;
    background: #FFFFFF url("../images/icons/playStore.png") no-repeat center;
}
